# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Dependencies (node)
node_modules/

# Python
__pycache__/
*.py[cod]
*.so
.venv
venv/
env/

# Database
*.db
*.sqlite
*.sqlite3

# Environment
.env
.env.local

# Build outputs
/backend/build
/frontend/build
/frontend/dist
